
{# title #}
{% if not "\x3ch1" in page.content %}
    <h1>{{ page.title | d(config.site_name, true) }}</h1>
{% endif %}

{# description #}
{% if page.meta and page.meta.description %}
    <p>
        {{ page.meta.description }}
    </p>
{% endif %}

<hr>

{# page collection #}
{% set  valid_pages=[] %}

{% for p in pages %}
    {% set pg = p.page %}
    {% if pg.meta %}
        {% if pg.meta.date %}
            {% if pg.meta.date is string %}
                {% set _ = pg.__setattr__('date', pg.meta.date) %}
            {% else %}
                {% set _ = pg.__setattr__('date', pg.meta.date.strftime('%Y-%m-%d')) %}
            {% endif %}
            {# use "" to not add spaces in content #}
            {{ valid_pages.append(pg) or "" }}
        {% elif pg.meta.git_creation_date_localized_raw_iso_date %}
            {% set _ = pg.__setattr__('date', pg.meta.git_creation_date_localized_raw_iso_date) %}
            {{ valid_pages.append(pg) or "" }}
        {% endif %}
    {% endif %}
    
    
{% endfor %}
{% set blog_pages=[] %}

{% for pg in valid_pages|sort(
    attribute='date',
    reverse=True
)
%}
    {# do not list homepage, empty pages, hidden pages #}
    {% set hidden = true if (pg.meta and pg.meta.hide and ('in_recent_list' in pg.meta.hide)) %}
    {% if (not pg.is_homepage) and
        (not pg.markdown == '') and
        (not hidden)
    %}
        {{ blog_pages.append(pg) or "" }}
    {% endif %}
{% endfor %}

{% if blog_pages|count > 0 %}

    {# count the number of pages #}
    {% set page_num = (blog_pages|count / 10)|round(method='ceil')|int %}

    <div id="page_num" data-value="{{page_num}}"></div>



    <div class="center">
        <div class="pagination" id="pagination-top">
            <!-- <a href="#">&laquo;</a> -->
            {% for pg_group in blog_pages|slice(page_num) %}
                <a class="page-number {% if loop.index==1 %}active{% endif%}" href="#page{{ loop.index }}">
                    {{ loop.index }}
                </a>
            {% endfor %}
            <!-- <a href="#">&raquo;</a> -->
        </div>
    </div>

    <hr>




    <p class="center">Total <b>{{ blog_pages|count }}</b> posts in {{ page_num }} pages.</p>


{% else %}
    <style>
        .md-typeset .center {
            text-align: center;
        }
    </style>
    <p class="center">
        No page found!
    </p>
{% endif %}

